* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}
.pages {
  position: relative;
  height: 700px;
  background-size: cover;
  background-position: center;
}
.sect_1 {
  background-image: url(runaway_black_hole_desktop.png);
}
.sect_2 {
  background-image: url(https://spacey-kappa.vercel.app/assets/landscape-2ee9445b.jpg);
}
.sect_3 {
  position: relative;
  background-image: url(https://spacey-kappa.vercel.app/assets/eclipse-11d9479c.jpg);
}

.hide {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  left: 50px;
  z-index: 1;
  width: 50vw;
}
.header-container a {
  margin-left: auto;
  color: rgb(230, 174, 164);
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
}

.spacey_info {
  position: absolute;
  bottom: 200px;
  left: 50px;
}

.anchor {
  border: 2px solid white;
  padding: 15px 30px;
  border-radius: 8px;
}
a:hover .oldText {
  display: none;
}

a:hover .newText:before {
  content: "Click here";
  color: rgb(230, 174, 164);
}
.anc:hover {
  background-color: beige;
  color: black;
  border: 2px solid black;
}
h1,
h2,
.header-container a,
.anchor,
.spacey_info p {
  font-family: sans-serif;
  text-transform: uppercase;
}

.part_2,
.part_3,
.anchor,
.spacey_info,
.header-container {
  color: white;
}

.spacey_info h1 {
  font-size: 2.5em;
  padding-bottom: 20px;
  margin-top: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  color: white;
  text-transform: lowercase;
}

.booking {
  display: flex;
}
.booking_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: rgb(135, 41, 25);
  border-radius: 20px;
  top: 200px;
  right: 230px;
  width: 50vw;
  height: 40vh;
  background-color: bisque;
}

.options {
  position: relative;
  width: 180px;
  text-align: center;
  height: 120px;
  margin-top: 20px;
  color: black;

  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
}

.btn {
  width: auto;
  height: auto;
  padding: 3px 5px;
  position: absolute;
  bottom: 2px;
  left: 65px;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
}
.btn:hover {
  background-color: turquoise;
  color: tomato;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
}
.para {
  position: absolute;
  color: Black;
  color: rgb(135, 41, 25);
  text-align: center;
  bottom: 0;
  font-size: 0.9em;
  font-style: oblique;
  font-weight: bold;
}
.sched {
  position: absolute;
  top: 2px;
}
.options h2 {
  position: absolute;
  top: 3px;
  margin-left: 20px;
  font-size: 0.9em;
}
.options p {
  position: absolute;
  top: 60px;
  left: 90px;
  font-size: 0.8em;
}
.opt_1,
.opt_3 {
  padding-left: 30px;
}
.noShow {
  display: none;
}
